body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    overflow: hidden;
}

#floating-elements {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.floating-item {
    position: absolute;
    bottom: -100px;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    opacity: 0.6;
    background-size: cover;
    background-position: center;
}

.loader-container {
    position: relative;
    z-index: 1;
    text-align: center;
}

.federation-name {
    font-size: 1.5em;
    color: goldenrod;
    margin-top: 20px; /* Adjust based on exact positioning needs */
}

.logo-container {
    margin-bottom: 20px;
}

.rotate-logo {
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.progress-container {
    width: 300px;
    height: 20px;
    background-color: #555;
    border-radius: 5px;
    position: relative;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: #4CAF50;
    border-radius: 5px;
    transition: width 0.5s ease;
}

.progress-text {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 20px;
}

.welcome-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}

.welcome-message {
    z-index: 11;
    color: white;
    text-align: center;
}

.welcome-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('welcome-animation.gif') no-repeat center center;
    background-size: cover;
    animation: fadeIn 5s ease-out;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes float {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-110vh);
    }
}